footer {
  background-color: #f2f2f2;
  height: 298px;

  margin-top: 180px;
}

footer nav,
address,
hr {
  max-width: 1280px;
  margin: auto;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #c4c4c4;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  margin-right: 16px;
  padding-top: 60px;
  padding-bottom: 30px;
}

footer nav ul.footer--nav--terms li:nth-child(3) a {
  font-weight: 800;
}

footer nav ul.footer--nav--terms li::after {
  content: "|";
  padding-left: 14px;
}
footer nav ul.footer--nav--terms li:last-child::after {
  content: "";
  padding-left: 14px;
}

footer nav ul.footer--nav--social li {
  width: 32px;
  height: 32px;
}

footer address {
  color: #767676;
  font-size: 14px;

  padding-top: 30px;
  line-height: 24px;
}

footer address h4 {
  font-weight: 800;
}

footer address p > a {
  color: #767676;
}
footer address p > a::before {
  content: "|";
  padding: 0 5px;
}
