@import url(/css/style.css);

.header--title {
  width: 248px;
  height: 76px;
  background-image: url(../assets/Logo-hodu.png);
  background-repeat: no-repeat;
  background-position-y: bottom;

  margin: auto;
  padding-top: 100px;
}

main {
  padding-top: 70px;
}

main section {
  width: 550px;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

section > h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  align-content: center;

  width: 275px;
  height: 70px;
}

.login--buyer {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

/* 로그인 활성화 버튼 */
.on {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  border-bottom: none;
  z-index: 1;
}

/* 로그인 비활성화 버튼 */
.off {
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
}

form {
  height: 292px;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -15px;
}

form input {
  font-size: 1rem;
  width: 480px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

form button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;

  width: 480px;
  height: 60px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;

  margin-top: 36px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding-top: 30px;
  margin-left: 14px;
}
