@import url(../css/style.css);
@import url(../css/header.css);
@import url(../css/footer.css);

[type="radio"] {
  border: 2px solid var(--main-color);
}
[type="radio"]:checked {
  background-color: var(--main-color);
  border: 3px solid white;
  box-shadow: 0 0 0 2px var(--main-color);
}

main {
  max-width: 1280px;
  margin: auto;
}

main h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;

  padding-top: 54px;
}

section.cart--title ul {
  font-size: 18px;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;

  margin-top: 52px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.cart--title ul li:first-child {
  padding-left: 30px;
}
section.cart--title ul li:nth-child(2) {
  padding-left: 85px;
}
section.cart--title ul li:nth-child(3) {
  padding-left: 105px;
}
section.cart--title ul li:last-child {
  padding-right: 205px;
}

section.cart--list ul.cart--list__product {
  height: 200px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;

  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.cart--list__product li:first-child {
  padding-left: 30px;
}
.cart--list__product li:last-child {
  padding-right: 40px;
}

section.cart--list ul.cart--list__product:first-child {
  margin-top: 25px;
}
.cart--list__product li:nth-child(2) {
  display: flex;
  margin-left: -84px;
}

.cart--list__product li:nth-child(2) img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.cart--list__product li:nth-child(2) ul {
  padding-left: 36px;
}

.cart--list__product li:nth-child(2) ul li {
  padding-top: 10px;
}

.cart--list__product li:nth-child(2) ul li:first-child {
  color: #767676;
  font-size: 14px;
  padding: 0;
}

.cart--list__product li:nth-child(2) ul li:nth-child(2) {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.cart--list__product li:nth-child(2) ul li:nth-child(3) {
  font-weight: 800;
  margin: 0;
}

.cart--list__product li:nth-child(2) ul li:last-child {
  color: #767676;
  font-size: 14px;

  padding-top: 40px;
}

.cart--list__product li:nth-child(3) {
  display: flex;
  margin-left: 90px;
}

.cart--list__product li:nth-child(3) p {
  font-size: 18px;
  text-align: center;
  align-content: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
}

.cart--list__product li:nth-child(3) button {
  width: 50px;
  height: 50px;

  border: 1px solid #c4c4c4;
  background-color: #fff;
}

.cart--list__product li:nth-child(3) button:first-child {
  background-image: url(../assets/icon-minus-line.svg);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px 0 0 5px;
  border-right: none;
}

.cart--list__product li:nth-child(3) button:last-child {
  background-image: url(../assets/icon-plus-line.svg);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 0 5px 5px 0;
  border-left: none;
}

.cart--list__product li:nth-child(4) {
  align-content: center;
}

.cart--list__product li:nth-child(4) p {
  color: var(--point-color);
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}
.cart--list__product li:nth-child(4) button {
  color: #fff;
  font-size: 16px;

  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);

  margin-top: 26px;
}

.cart--list__product li:last-child button {
  width: 22px;
  height: 22px;

  border: none;
  background-color: #fff;
  background-image: url(../assets/icon-delete.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 18px;
}

section.cart--priceCount {
  height: 150px;

  background-color: #f2f2f2;
  border-radius: 10px;

  margin-top: 90px;
}

section.cart--priceCount ul {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.cart--priceCount ul li {
  text-align: center;
}

section.cart--priceCount ul em {
  font-size: 24px;
  font-weight: 800;
  display: inline-block;
  margin-top: 12px;
}

section.cart--priceCount ul span {
  display: inline-block;
}

section.cart--priceCount ul li:nth-child(2) {
  width: 34px;
  height: 34px;

  border-radius: 50%;
  background-color: #fff;
  background-image: url(../assets/icon-minus-line.svg);
  background-repeat: no-repeat;
  background-position: center;
}

section.cart--priceCount ul li:nth-child(4) {
  width: 34px;
  height: 34px;

  border-radius: 50%;
  background-color: #fff;
  background-image: url(../assets/icon-plus-line.svg);
  background-repeat: no-repeat;
  background-position: center;
}

section.cart--priceCount ul li:last-child p {
  font-weight: 800;
}

section.cart--priceCount ul li:last-child em {
  color: var(--point-color);
  font-size: 36px;
  font-weight: 800;
}

section.cart--priceCount ul li:last-child span {
  color: var(--point-color);
}

.cart__orderBtn {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.cart__orderBtn button {
  color: #fff;
  font-size: 24px;
  font-weight: 800;

  width: 220px;
  height: 68px;

  border: none;
  border-radius: 10px;
  background-color: var(--main-color);

  margin: auto;
}
